*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color: black;
    color: white;
}

.main{
    margin: .5rem;
    padding: .5rem;
    border: 2px solid white;
    border-radius: 15px;
    background-repeat: no-repeat;
    background: linear-gradient(180deg, #4F0088 0%, orangered 100%);
}